version: 0.1
log:
  fields:
    service: registry
storage:
  delete:
    enabled: true
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /var/lib/registry
http:
  addr: :5000
  headers:
    Access-Control-Allow-Origin: ['*']
    Access-Control-Allow-Methods: ['GET', 'POST', 'PUT', 'DELETE', 'OPTIONS']
    Access-Control-Allow-Headers: ['Authorization', 'Content-Length', 'Content-Type', 'Docker-Distribution-Api-Version', 'X-Requested-With', 'Accept']
    X-Content-Type-Options: [nosniff]
  secret: Prep@SwarmReg!
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3