<div class="w-full overflow-x-auto">
    <p-table
        [value]="rows"
        dataKey="id"
    >
    <ng-template pTemplate="header">
        <tr>
            <th>{{ 'pages.modal_group_attributes.table.header_key' | translate }}</th>
            <th>{{ 'pages.modal_group_attributes.table.header_value' | translate }}</th>
            <th style="width: 4rem"></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr [class.pointer-events-none]="isView">
            <td>
                <input
                    (ngModelChange)="onRowsChange()"
                    [(ngModel)]="rows[i].key"
                    [disabled]="isView"
                    [placeholder]="'pages.modal_group_attributes.form.key_placeholder' | translate"
                    class="w-full"
                    pInputText
                />
            </td>
            <td>
                <input
                    (ngModelChange)="onRowsChange()"
                    [(ngModel)]="rows[i].value"
                    [disabled]="isView"
                    [placeholder]="'pages.modal_group_attributes.form.value_placeholder' | translate"
                    class="w-full"
                    pInputText
                />
            </td>
            <td class="text-right">
                <button
                    (click)="removeRow(i)"
                    *ngIf="!isView"
                    icon="pi pi-minus"
                    pButton
                    severity="danger">
                </button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td class="text-center" colspan="3">
                {{ 'pages.modal_group_attributes.table.empty' | translate }}
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="footer">
        <tr>
            <td colspan="3">
                <button
                    (click)="addRow()"
                    *ngIf="!isView"
                    [label]="'pages.modal_group_attributes.actions.add_row' | translate"
                    class="w-full md:w-auto"
                    icon="pi pi-plus"
                    pButton>
                </button>
            </td>
        </tr>
    </ng-template>
    </p-table>
</div>

<div class="flex justify-end gap-2 mt-4">
    @if (mode === 'edit') {
        <button
            (click)="emitSave()"
            [label]="'pages.modal_group_attributes.actions.update' | translate"
            pButton
            type="button">
        </button>
    } @else {
        <button
            (click)="emitSave()"
            *ngIf="!isView"
            [label]="'common.save' | translate"
            pButton
            type="button">
        </button>
    }
</div>
