services:
  redis:
    image: eqalpha/keydb
    ports:
      - target: 6379
        published: 6379
        mode: host
    networks:
      - keycloak-network
    deploy:
      replicas: 1
      restart_policy:
        condition: any
    
  redis-commander:
    image: rediscommander/redis-commander:latest
    environment:
      REDIS_HOSTS: local:redis:6379
    ports:
      - target: 8081
        published: 8081
        mode: host
    networks:
      - keycloak-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

networks:
  keycloak-network:
