services:

  keycloak:
    image: quay.io/keycloak/keycloak:26.3.0
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password
      KC_DB_SCHEMA: mim
      KC_LOG_LEVEL: INFO
      KC_LOG_CONSOLE_OUTPUT: json
    ports:
      - target: 8082
        published: 8082
        mode: host
    depends_on:
      - postgres
    command:
      - start-dev
      - "--http-port=8082"
      - "--features=preview"
    networks:
      - keycloak-network
      - postgres-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints: [node.role == manager]

  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: myuser
      MONGO_INITDB_ROOT_PASSWORD: mypassword
      MONGO_INITDB_DATABASE: mimdb
    command: >
      bash -c "
        chown mongodb:mongodb /data/mongodb-keyfile &&
        chmod 600 /data/mongodb-keyfile &&
        docker-entrypoint.sh mongod --replSet rs0 --keyFile /data/mongodb-keyfile --bind_ip 0.0.0.0 &
        # aspetto che mongod si avvii correttamente
        sleep 10 &&
        mongosh --eval 'load(\"/data/init-replica.js\")' &&
        # aspetto che tutti i comandi in background terminino
        wait
      "
    volumes:
      - mongo-data:/data/db
      - mongo-data-config:/data/configdb
      - ./mongo-config/init-replica.js:/data/init-replica.js
      - ./mongo-config/mongodb-keyfile:/data/mongodb-keyfile
    deploy:
      placement:
        constraints: [node.role == manager]
    networks:
      - mongo-net

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
      POSTGRES_MAX_CONNECTIONS: 500
      PGDATA: /var/lib/postgresql/data
    ports:
      - target: 5432
        published: 5432
        mode: host
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d
    networks:
      - postgres-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints: [node.role == manager]

  redis:
    image: eqalpha/keydb
    ports:
      - target: 6379
        published: 6379
        mode: host
    networks:
      - redis-net
    deploy:
      replicas: 1
      restart_policy:
        condition: any

  redis-commander:
    image: rediscommander/redis-commander:latest
    environment:
      REDIS_HOSTS: local:redis:6379
    ports:
      - target: 8081
        published: 8081
        mode: host
    depends_on:
      - redis
    networks:
      - redis-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
#
#  admin:
#    image: admin
#    environment:
#      SERVER_PORT: 8080
#      SPRING_APPLICATION_NAME: keycloak-service
#      SPRING_MAIN_BANNER-MODE: "false"
#      KEYCLOAK_AUTH-SERVER-URL: http://keycloak:8082
#      KEYCLOAK_REALM: atlantica
#      SPRING_SECURITY_OAUTH2_RESOURCE-SERVER_JWT_ISSUER-URI: http://keycloak:8082/realms/$${keycloak.realm}
#      SPRING_SECURITY_OAUTH2_RESOURCE-SERVER_JWT_JWK-SET-URI: http://keycloak:8082/realms/$${keycloak.realm}/protocol/openid-connect/certs
#      SPRING_CACHE_TYPE: redis
#      SPRING_DATA_REDIS_HOST: redis
#      SPRING_DATA_REDIS_PORT: 6379
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/keycloak?currentSchema=mim
#      SPRING_DATASOURCE_USERNAME: keycloak
#      SPRING_DATASOURCE_PASSWORD: password
#      SPRING_JPA_HIBERNATE_DDL-AUTO: none
#      SPRING_JPA_SHOW-SQL: "true"
#      SPRING_CLOUD_DISCOVERY_ENABLED: "true"
#      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery:8761/eureka
#      EUREKA_CLIENT_REGISTER-WITH-EUREKA: "true"
#      EUREKA_CLIENT_FETCH-REGISTRY: "true"
#      EUREKA_INSTANCE_INSTANCE-ID: $${spring.application.name}:$${instanceId:$${random.value}}
#      EUREKA_INSTANCE_PREFER-IP-ADDRESS: "true"
#      APP_CORS_ALLOWED_ORIGINS: ' * '
#      APP_CACHE_ENABLED: "true"
#      APP_CACHE_PREFETCH-PAGES: 5
#      APP_PROPERTIES_ENABLED: "false"
#      LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY: INFO
#      LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY_OAUTH2: INFO
#      LOGGING_LEVEL_JBOSS_RESTEASY_CLIENT: INFO
#      LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_CACHE: TRACE
#      LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_DATA_REDIS_CACHE: DEBUG
#      LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_DATA_REDIS_CORE: DEBUG
#      LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_BOOT_CONTEXT_CONFIG: DEBUG
#    ports:
#      - target: 8080
#        published: 8080
#        mode: host
#    depends_on:
#      - keycloak
#      - postgres
#      - discovery
#      - gateway
#    networks:
#      - keycloak-network
#      - postgres-net
#      - redis-net
#    deploy:
#      replicas: 1
#      restart_policy:
#        condition: on-failure
#
#  gateway:
#    image: gateway
#    environment:
#      SERVER_PORT: 9090
#      SPRING_APPLICATION_NAME: Gateway
#      SPRING_MAIN_BANNER-MODE: off
#
#      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery:8761/eureka
#      EUREKA_INSTANCE_INSTANCE-ID: $${spring.application.name}:$${instanceId:$${random.value}}
#      SPRING_CLOUD_DISCOVERY_ENABLED: "true"
#
#      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_DEFAULT-FILTERS[0]: DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_FIRST
#      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_DEFAULT-FILTERS[1]: RewritePath=/api/(?<remaining>.*), /$${remaining}
#
#      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES[0]_ID: force-api-prefix
#      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES[0]_URI: lb://keycloak-service
#      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES[0]_PREDICATES[0]: Path=/api/**
#
#      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_GLOBALCORS_CORS-CONFIGURATIONS[/**]_ALLOWED-ORIGINS: http://localhost:4200
#      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_GLOBALCORS_CORS-CONFIGURATIONS[/**]_ALLOWED-METHODS: "*"
#      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_GLOBALCORS_CORS-CONFIGURATIONS[/**]_ALLOWED-HEADERS: "*"
#      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_GLOBALCORS_CORS-CONFIGURATIONS[/**]_ALLOW-CREDENTIALS: "true"
#
#      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_DISCOVERY_LOCATOR_ENABLED: "true"
#      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_DISCOVERY_LOCATOR_LOWER-CASE-SERVICE-ID: "true"
#
#      LOGGING_LEVEL_IT_ATLANTICA_MIM_GATEWAY_FILTER_LOGGINGFILTER: DEBUG
#      LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_CLOUD_GATEWAY: DEBUG
#      LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_WEB: DEBUG
#    ports:
#      - target: 9090
#        published: 9090
#        mode: host
#    depends_on:
#      - discovery
#    networks:
#      - keycloak-network
#    deploy:
#      replicas: 1
#      restart_policy:
#        condition: on-failure
#
#  discovery:
#    image: discovery
#    environment:
#      SPRING_MAIN_BANNER-MODE: off
#      SPRING_APPLICATION_NAME: Discovery
#      SERVER_PORT: 8761
#      EUREKA_CLIENT_REGISTER-WITH-EUREKA: "false"
#      EUREKA_CLIENT_FETCH-REGISTRY: "false"
#      EUREKA_INSTANCE_PREFER-IP-ADDRESS: "true"
#      LOGGING_LEVEL_COM_NETFLIX_EUREKA: OFF
#      LOGGING_LEVEL_COM_NETFLIX_DISCOVERY: OFF
#    ports:
#      - target: 8761
#        published: 8761
#        mode: host
#    networks:
#      - keycloak-network
#    deploy:
#      replicas: 1
#      restart_policy:
#        condition: on-failure
#


volumes:
  postgres_data:
    driver: local
  mongo-data-conf:
  mongo-data:
    driver: local
  zookeeper_data:
  zookeeper_data_log:
  zookeeper_data_secret:
  kafka_data:
  kafka_data_secrets:

networks:
  keycloak-network:
    driver: overlay
  postgres-net:
    driver: overlay
  mongo-net:
    driver: overlay
  redis-net:
    driver: overlay
  kafka-net:
    driver: overlay
