<p-card>
    <form [formGroup]="rolesFormGroup" class="flex flex-col gap-6">

        <!-- RIGA 1: Name + Description -->
        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-wrap gap-2 w-full">
                <input-form-control label="{{ 'pages.modal_roles.name' | translate }}">
                    <input class="w-full" exposeControl formControlName="roleName"
                           pInputText placeholder="{{ 'pages.modal_roles.name_placeholder' | translate }}"/>
                </input-form-control>
            </div>

            <div class="flex flex-wrap gap-2 w-full">
                <input-form-control label="{{ 'pages.modal_roles.description' | translate }}">
                    <input class="w-full" exposeControl formControlName="description"
                           pInputText placeholder="{{ 'pages.modal_roles.description_placeholder' | translate }}"/>
                </input-form-control>
            </div>
        </div>

        <!-- RIGA 2: Group -->
        <div class="flex flex-col md:flex-row gap-6">
            @switch (event) {
                @case ('view') {
                    <div class="flex flex-wrap gap-2 w-full">
                        <input-form-control label="{{ 'pages.modal_roles.group' | translate }}">
                            <input class="w-full" exposeControl formControlName="groupIDs" pInputText/>
                        </input-form-control>
                    </div>
                }
                @default {
                    <div class="flex flex-wrap gap-2 w-full">
                        <input-form-control label="{{ 'pages.modal_roles.group' | translate }}">
                            <p-multiSelect [options]="groupList" appendTo="body" class="w-full" exposeControl
                                           formControlName="groupIDs" optionLabel="label" optionValue="value"
                                           placeholder="{{ 'pages.modal_roles.group_placeholder' | translate }}">
                            </p-multiSelect>
                        </input-form-control>
                    </div>
                }
            }
        </div>

        <!-- BOTTONI -->
        @switch (event) {
        @case ('edit') {
            <div class="flex justify-end gap-2 mt-4">
            <button pButton type="button" label="{{ 'common.undo' | translate }}" class="p-button-text"
                    (click)="close()">
            </button>
            <button pButton type="button" label="{{ 'common.update' | translate }}" [disabled]="rolesFormGroup.invalid"
                    (click)="updateRoles()">
            </button>
        </div>
        }
        @case ('created') {
            <div class="flex justify-end gap-2 mt-4">
            <button pButton type="button" label="{{ 'common.undo' | translate }}" class="p-button-text"
                    (click)="close()">
            </button>
            <button pButton type="button" label="{{ 'common.create' | translate }}" [disabled]="rolesFormGroup.invalid"
                    (click)="createRoles()">
            </button>
        </div>
        }
        }

    </form>
</p-card>
